<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SohCahToa</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Triangle Dimensions</h1>
    <ul>
        <li>@Model.GetAngle()</li>
        <li>@Model.GetOpposite()</li>
        <li>@Model.GetAdjacent()</li>
        <li>@Model.GetHypotenuse()</li>
    </ul>
  </body>
</html>
