<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Sohcahtoa</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to calculate the dimensions of your triangle!</h1>
    <form action='/displayTriangle'>
      <div class='form-group'>
        <label for='angle'>Enter the angle of your triangle:</label>
        <input id='angle' name='angle' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='leg'>Enter the length of a side: </label>
        <input id='leg' name='leg' class='form-control' type='text'>
      </div>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
